/*UNIVERSAL SELECTOR*/

* {
    box-sizing: border-box;
}


/****************************
GENERAL
*****************************/

body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    margin: 0;
}

.main-header {
    /*     background-image: url('../img/mountains.jpg');*/
    background: linear-gradient(#2F3030, transparent 90%), linear-gradient(0deg, #fff, transparent), #2F3030 url('../img/lake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    padding-top: 170px;
}

.main-header,
.title {
    text-align: center;
}

.title {
    /*to change font-size from px to em. do this math equation
    what the desired pixel is /16
    26px/16em = 1.625em;
    */
    border-bottom: 2px solid;
    color: azure;
    font-size: 1.625em;
    font-weight: 200;
    letter-spacing: .625em;
    padding-bottom: 10px;
}

.primary-content {
    padding-bottom: 95px;
    text-align: center;
}

.secondary-content {
    border-bottom: 2px solid azure;
    border-top: 2px solid white;
    padding-bottom: 70px;
    padding-top: 80px;
}

.primary-content,
.secondary-content {
    margin: auto;
    max-width: 900px;
    padding-left: 50px;
    padding-right: 50px;
    width: 75%;
}

.t-border {
    border-top: 2px solid white;
}

.arrow {
    margin-top: 150px;
    width: 50px;
}

img {
     margin-bottom: 20px;
    width: 100%;
}

.wildlife {
     background-image: url('../img/bear.jpg');
     background-position: center;
     background-repeat: no-repeat;
      background-size: cover;
     border-top: 10px solid azure;
    /*    when 3 values. first one is the top. second one is the left and right. third is bottom 4th value is spread radius*/
     box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, .8);
      /*    Box shadows 1st value is horizontal, 2nd is vertical, 3rd is blur*/
    border-radius: 1Opx;
     margin: 105px 0 60px;
    padding: 18% 24%;
}

.callout {
    border-bottom: 3px solid;
     display: inline-block;
    font-size: 1.25em;
     margin-top: 20px;
    padding: 0 9px 3px;
}

#main-footer {
    border-bottom: solid 10px white;
    padding-bottom: 60px;
    padding-top: 60px;
}

p {
    color: azure;
}


/****************************
HEADLINE ELEMENTS & P ELEMENTS
*****************************/

h1 {
    /*90px/16px*/
    font-size: 5.625em;
    font-weight: normal;
    line-height: 1.3;
     margin: 12px 0 0;
     text-align: center;
    /*text shadow 1st value is horizontal offset 2nd is vertical offset and 3rd is blur and 4th is the color of the shadow*/
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
    text-transform: uppercase;
}

h2 {
    color: azure;
    font-size: 53px;
    font-weight: normal;
    /*    26px/53px*/
    margin-bottom: .5em;
    text-decoration: underline;
}

h2 {
    color: azure;
}

h3 {
    font-size: 20px;
    /*    34px/20px*/
    margin-bottom: 1.7em;
}

p {}


/****************************
FLOATED COLUMNS
*****************************/

.resorts,
.tips {
    width: 46.5%
}

.resorts {
    float: left;
}

.tips {
    float: right;
}

.group:after {
     clear: both;
    content: "";
    display: table;
}


/****************************
COLORS
*****************************/

body {
    background-color: black;
}

.main-header {
    background-color: #ffa949;
}

.wildlife {
     background-color: #2B2D2E;
    color: azure;
}


/*

ul li {
    color: azure;
    margin-bottom: 5px;
    
}
*/

ul,
ol {
    margin-left: 30px 0;
}

li {
    margin-bottom: 10px;
}

li {
    color: azure;
}

h1 {
    color: azure;
}

h3 {
    color: azure;
}


/*CSS PSSEUDO CLASS*/

a:link {
    color: #ffa949;
    text-decoration: none;
}

a:visited {
    color: aqua;
}

a:hover {
    color: darkcyan;
}

a:active {
    color: cyan;
}

a:focus {
    background-color: dimgrey;
    color: azure;
}


/****************************
MEDIA QUERIES
*****************************/

@media (max-width: 1024px) {
    .primary-content,
    .secondary-content {
        width: 90%;
    }
    .wildlife {
         margin: 50px 0 20px;
        padding: 10% 12%;
    }
}

@media (max-width: 768px) {
    .primary-content,
    .secondary-content {
         border-top: none;
         padding: 20px;
        width: 100%;
    }
    .max-height {
        max-height: 380px;
        padding: 50px 25px 0;
    }
    .title {
         border: none;
        font-size: 1.3rem;
    }
    h1 {
        font-size: 1.3rem;
        line-height: 1.1;
    }
    .arrow {
        display: none;
    }
    .intr0 {
        font-size: 1rem;
    }
    .resorts,
    .tips {
        float: none;
        width: 100%;
    }
    .main-footer {
        padding: 20px 0;
    }
}

@media (max-width: 375px) {
    h1 {
        font-size: 3rem;
    }
}


/* ============================================================
  PRIMARY STRUCTURE
============================================================ */

.container {
     margin: 0 auto;
    max-width: 960px;
}


/* ============================================================
  SECTIONS
============================================================ */

section.module:last-child {
    margin-bottom: 0;
}

section.module h2 {
     font-size: 30px;
    margin-bottom: 40px;
}

section.module p {
    font-size: 16px;
    font-weight: 300;
     margin-bottom: 40px;
}

section.module p:last-child {
    margin-bottom: 0;
}

section.module.content {
    padding: 40px 0;
}

section.module.parallax {
     background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
      height: 600px;
}

section.module.parallax h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 48px;
     font-weight: 700;
    line-height: 600px;
    text-align: center;
     text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

section.module.parallax-1 {
    background-image: url("../img/bear1.jpg");
}

section.module.parallax-2 {
    background-image: url("../img/fox.jpg");
}

section.module.parallax-3 {
    background-image: url("../img/beaver.jpg");
}

section.module.parallax-4 {
    background-image: url("../img/fish.jpg");
}

section.module p {
    font-size: 20px;
}


